
@{
    ViewBag.Title = "Italian";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container bodycont1 bodycontent body-box">
    <div class="mainbg menuitems">


        <div class="clearfix"></div>
        <br />
        <div class="col-sm-2"></div>

        <div class="col-sm-8">

            <center>  <h3 style="border-bottom-style: dotted;font-size:20px;color:red">Italian</h3></center>
            <br />
        </div>
        <div class="col-sm-2"></div>
        <br />
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                     @*   <img src="~/images/italian/Alfredoveg.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Alfredo Veg  <br /><b style="color: #D68D32;">….  Rs.290</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div> 
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/italian/Alfredononveg.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Alfredo Nonveg<br />
                                        <b style="color: #D68D32;">….  Rs.330</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>                             </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/italian/Peperonata.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Peperonata    <br />
                                        <b style="color: #D68D32;">….  Rs.290</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div> 
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/italian/ViaVenito.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Via Venito   <br /> <b style="color: #D68D32;">….  Rs.310</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div> 
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/italian/Carbonara.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Carbonara <br /><b style="color: #D68D32;">….  Rs.330</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div> 
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                    @*    <img src="~/images/italian/Spaghetti Bolognese.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Spaghetti Bolognese <br />
                                        <b style="color: #D68D32;">….  Rs.355</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div> 
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                    @*    <img src="~/images/italian/RisottoMushroom.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Risotto Mushroom    <br />
                                        <b style="color: #D68D32;">….  Rs.275</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div> 
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                   @*     <img src="~/images/italian/Risottochicken.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Risotto Chicken   <br /> <b style="color: #D68D32;">….  Rs.310</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div> 
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                  @*      <img src="~/images/italian/FusionPenneveg.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Fusion Penne Veg <br /><b style="color: #D68D32;">….  Rs.245</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div> 
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                     @*   <img src="~/images/italian/FusionPennechichen.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Fusion Penne Chicken <br />
                                        <b style="color: #D68D32;">….  Rs.310</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div> 
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                    @*    <img src="~/images/italian/PennePesto.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Penne in Pesto Veg    <br />
                                        <b style="color: #D68D32;">….  Rs.335</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>                             </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/italian/PennPestochick.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Penne in Pesto Veg Chicken   <br /> <b style="color: #D68D32;">….  Rs.360</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div> 
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                  @*      <img src="~/images/italian/ShrimpDiablo.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Shrimp Diablo Pasta    <br /> <b style="color: #D68D32;">….  Rs.390</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div> 
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                        @*<img src="~/images/italian/CreamChicken.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Cream Chicken <br /><b style="color: #D68D32;">….  Rs.380</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div> 
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                    @*    <img src="~/images/italian/Lasagneveg.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Lasagne  Veg<br />
                                        <b style="color: #D68D32;">….  Rs.295</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>                             </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                    @*    <img src="~/images/italian/Lasagnechichen.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Lasagne Chicken  <br />
                                        <b style="color: #D68D32;">….  Rs.360</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div> 
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                  @*      <img src="~/images/italian/Lasagnemutton.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Lasagne Mutton   <br /> <b style="color: #D68D32;">….  Rs.380</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div> 
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                   @*     <img src="~/images/italian/SpinachLasagneveg.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Spinach Corn Lasagne  Veg<br />
                                        <b style="color: #D68D32;">….  Rs.310</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>                             </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/Italian/SpinachLasagnemutton.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Spinach Corn Lasagne Mutton<br />
                                        <b style="color: #D68D32;">….  Rs.390</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div> 
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/italian/Spinacnchicken.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Spinach Corn Lasagne Chicken  <br />
                                        <b style="color: #D68D32;">….  Rs.370</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div> 
                            </center>

                        </div>
                    </div>
                </div>
            </div>
             
        </div>
    </div>
</div>
<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style=" z-index: 11111; " aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    @*<center><h4 class="modal-title" id="myModalLabel">Cash on delivery</h4></center>*@
                </div>
                <div class="modal-body">
                    <div class="col-sm-6 popupaddress">

                        <br />
                        <p class="popuplacasa">La Casa Restaurant</p>
                        <p>Amrutha Engineering College Road
                            <br />
                            Off Sarjapur Road
                            <br>
                            Kasavanahalli<br>
                            Near Lake Shore Homes<br />
                            Bangalore<br />
                            Karnataka:  560035<br>
                        </p>
                        <br>
                        <p class="popuplacasa">
                            080 4217 2469
                        <p class="popuplacasa">

                            +91 89513 51798
                        </p>
                        <p class="popuplacasa">
                            +91 70225 67469
                        </p>


                        <br />
                        <p class="popuplacasa">
                           www.lacasarestaurant.in
                        </p>
                        <br>



                    </div>




                </div>
                <div class="modal-footer">

                </div>
            </div>

        </div>
    </div>
</div>

