
@{
    ViewBag.Title = "Local";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container bodycont1 bodycontent body-box">
    <div class="mainbg menuitems">


        <div class="clearfix"></div>
        <br />
        <div class="col-sm-2"></div>

        <div class="col-sm-8">

            <center>  <h3 style="border-bottom-style: dotted;font-size:20px;color:red">LOCAL</h3></center>
            <br />
        </div>
        <div class="col-sm-2"></div>
        <br />
        <div class="col-md-12">
            <div class="col-md-4"></div>
            <div class=" col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                     @*   <img src="~/images/local/Russel Market Vegetable Steak (sizzler).png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Russel Market Vegetable Steak    <br /><b style="color: #D68D32;">….  Rs.270</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>




        </div>
    </div>
</div>


<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style=" z-index: 11111; " aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    @*<center><h4 class="modal-title" id="myModalLabel">Cash on delivery</h4></center>*@
                </div>
                <div class="modal-body">
                    <div class="col-sm-6 popupaddress">

                        <br />
                        <p class="popuplacasa">La Casa Restaurant</p>
                        <p>Amrutha Engineering College Road
                            <br />
                            Off Sarjapur Road
                            <br>
                            Kasavanahalli<br>
                            Near Lake Shore Homes<br />
                            Bangalore<br />
                            Karnataka:  560035<br>
                        </p>
                        <br>
                        <p class="popuplacasa">
                            080 4217 2469
                        <p class="popuplacasa">

                            +91 89513 51798
                        </p>
                        <p class="popuplacasa">
                            +91 70225 67469
                        </p>


                        <br />
                        <p class="popuplacasa">
                           www.lacasarestaurant.in
                        </p>
                        <br>



                    </div>




                </div>
                <div class="modal-footer">

                </div>
            </div>

        </div>
    </div>
</div>