
@{
    ViewBag.Title = "Maincourse_Nonvegetarian";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bodycont1 bodycontent body-box">
    <div class="mainbg menuitems">


        <div class="clearfix"></div>
        <br />
        <div class="col-sm-2"></div>

        <div class="col-sm-8">

            <center>
                <h3 style="border-bottom-style: dotted;font-size:20px;color:red">
                    MAIN COURSE NON VEGETARIAN

                </h3>
            </center>
            <br />
        </div>
        <div class="col-sm-2"></div>
        <br />
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                     @*   <img src="~/images/maincoursenonveg/Chicken  in Szechuan Sauce.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Chicken in Szechuan Sauce    <br /><b style="color: #D68D32;">….  Rs.290</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/maincoursenonveg/Pork in Szechuan Sauce.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Pork  in Szechuan Sauce    <br /><b style="color: #D68D32;">….  Rs.310</b></p>

                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                     @*   <img src="~/images/maincoursenonveg/Beef in Szechuan Sauce.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Beef  in Szechuan Sauce    <br /><b style="color: #D68D32;">….  Rs.340</b></p>

                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(  0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                     @*   <img src="~/images/maincoursenonveg/Lemon Chicken.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Lemon Chicken <br /> <b style="color: #D68D32;">….  Rs.299</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                       @* <img src="~/images/maincoursenonveg/hunanch chicken.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Hunan Chicken <br /><b style="color: #D68D32;">….  Rs.305</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/maincoursenonveg/Hunan Pork.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Hunan  Pork<br /><b style="color: #D68D32;">….  Rs.310</b></p>

                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                       @* <img src="~/images/maincoursenonveg/HunanBeef.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Hunan Beef<br /><b style="color: #D68D32;">….  Rs.340</b></p>

                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(  0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                        @*<img src="~/images/maincoursenonveg/Chinese Roast Pork.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Chinese Roast Pork   <br /> <b style="color: #D68D32;">….  Rs.340</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/maincoursenonveg/Kung Pao  Chicken.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Kung Pao Chicken  <br /><b style="color: #D68D32;">….  Rs.310</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                    @*    <img src="~/images/maincoursenonveg/Kung-Pao-Pork-Recipe1.jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Kung Pao Pork <br /><b style="color: #D68D32;">….  Rs.320</b></p>

                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                   @*     <img src="~/images/maincoursenonveg/kung-pao-Beef .jpg" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Kung Pao Beef   <br /><b style="color: #D68D32;">….  Rs.340</b></p>

                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style=" z-index: 11111; " aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    @*<center><h4 class="modal-title" id="myModalLabel">Cash on delivery</h4></center>*@
                </div>
                <div class="modal-body">
                    <div class="col-sm-6 popupaddress">

                        <br />
                        <p class="popuplacasa">La Casa Restaurant</p>
                        <p>
                            Amrutha Engineering College Road
                            <br />
                            Off Sarjapur Road
                            <br>
                            Kasavanahalli<br>
                            Near Lake Shore Homes<br />
                            Bangalore<br />
                            Karnataka:  560035<br>
                        </p>
                        <br>
                        <p class="popuplacasa">
                            080 4217 2469
                        <p class="popuplacasa">

                            +91 89513 51798
                        </p>
                        <p class="popuplacasa">
                            +91 70225 67469
                        </p>


                        <br />
                        <p class="popuplacasa">
                            www.lacasarestaurant.in
                        </p>
                        <br>



                    </div>




                </div>
                <div class="modal-footer">

                </div>
            </div>

        </div>
    </div>
</div>

