
@{
    ViewBag.Title = "Non_Vegetarian";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bodycont1 bodycontent body-box">
    <div class="mainbg menuitems">


        <div class="clearfix"></div>
        <br />
        <div class="col-sm-2"></div>

        <div class="col-sm-8">

            <center>  <h3 style="border-bottom-style: dotted;font-size:20px;color:red">NON VEGETARIAN</h3></center>
            <br />
        </div>
        <div class="col-sm-2"></div>
        <br />
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/Scotch Eggsnonveg.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Scotch Eggs <br /><b style="color: #D68D32;">….  Rs.295</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                        @*<img src="~/images/nonveg/Steamed Chicken Momosnonveg.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Steamed Chicken Momos<br />
                                        <b style="color: #D68D32;">….  Rs.225</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/PORK Sausage Croquettes.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Pork Sausage Croquettes   <br />
                                        <b style="color: #D68D32;">….  Rs.250</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                       @* <img src="~/images/nonveg/Drums of Heaven.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Drums of Heaven  <br /> <b style="color: #D68D32;">….  Rs.260</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/Chilli Chicken.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Chilli Chicken   <br /> <b style="color: #D68D32;">….  Rs.275</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/Bacon Wrapped Chicken.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Bacon Wrapped Chicken   <br /> <b style="color: #D68D32;">….  Rs.355</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/Grilled Bacon Wrapped Sausages.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Grilled Bacon Wrapped Sausages    <br /> <b style="color: #D68D32;">….  Rs.365</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                     @*   <img src="~/images/nonveg/Grilled BBQ Chicken.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Grilled BBQ Chicken  <br />
                                        <b style="color: #D68D32;">….  Rs.370</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/Grilled Fish in Mustard Sauce.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Grilled Fish in Mustard Sauce   <br /> <b style="color: #D68D32;">….  Rs.390</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/Chicken with Green and Red Pepper in Chilli Basil.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Green and Red Pepper in Chilli Basil <br /> <b style="color: #D68D32;">….  Rs.290</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                    @*    <img src="~/images/nonveg/Grilled Sausages chicken.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Grilled Sausages Chicken <br /> <b style="color: #D68D32;">….  Rs.245</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                     @*   <img src="~/images/nonveg/Grilled Sausages pork.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Grilled Sausages Pork  <br />
                                        <b style="color: #D68D32;">….  Rs.270</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                  @*      <img src="~/images/nonveg/Gai Tod.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Gai Tod    <br /> <b style="color: #D68D32;">….  Rs.295</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                   @*     <img src="~/images/nonveg/hot pepper chicken.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Hot Pepper Chicken<br /> <b style="color: #D68D32;">….  Rs.290-</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                       @* <img src="~/images/nonveg/Chicken Gold Coin.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Chicken Gold Coin   <br /> <b style="color: #D68D32;">….  Rs.260</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/Mexican Lollipop.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Mexican Lollipop    <br />
                                        <b style="color: #D68D32;">….  Rs.275</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                     @*   <img src="~/images/nonveg/Chicken Tikka.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Chicken Tikka      <br /> <b style="color: #D68D32;">….  Rs.295</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                     @*   <img src="~/images/nonveg/murgh banjara kabab.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Murgh Banjara Kabab<br /> <b style="color: #D68D32;">….  Rs.295</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/murg malai kabab.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Murgh Malai  Kabab  <br /> <b style="color: #D68D32;">….  Rs.320</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                       @* <img src="~/images/nonveg/surmali.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Surmali Kabab  <br />
                                        <b style="color: #D68D32;">….  Rs.350</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/tangikabab.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Tangri Kabab     <br /> <b style="color: #D68D32;">….  Rs.295</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/kalmi kabab.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Kalmi Kabab   <br /> <b style="color: #D68D32;">….  Rs.295</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                    @*    <img src="~/images/nonveg/Tandoori.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Tandoori Chicken -Half  <br /> <b style="color: #D68D32;">….  Rs.280</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                       @* <img src="~/images/nonveg/Tandoori chicken full.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Tandoori Chicken -Full <br />
                                        <b style="color: #D68D32;">….  Rs.500</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/Tandoori Non Veg Platter.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Tandoori Non Veg Platter       <br /> <b style="color: #D68D32;">….  Rs.1395</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/Rampuri Meat Balls.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Rampuri Meat Balls   <br /> <b style="color: #D68D32;">….  Rs.340-</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/seek kababa.png"lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Seekh Kabab    <br /> <b style="color: #D68D32;">….  Rs.340</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                       @* <img src="~/images/nonveg/Afghanistan Kabab.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Afghanistan Kabab <br />
                                        <b style="color: #D68D32;">….  Rs.350</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                    @*    <img src="~/images/nonveg/Roast Pork.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Roast Pork   <br /> <b style="color: #D68D32;">….  Rs.320</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/coorgpork.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Coorg Pork    <br /> <b style="color: #D68D32;">….  Rs.310-</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                        @*<img src="~/images/nonveg/chillipork.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Chilli Pork     <br /> <b style="color: #D68D32;">….  Rs.310</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                    @*    <img src="~/images/nonveg/mangalorepork.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Mangalore pork <br />
                                        <b style="color: #D68D32;">….  Rs.310</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                    @*    <img src="~/images/nonveg/Achari Tikka.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Achari Tikka    <br /> <b style="color: #D68D32;">….  Rs.350</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                    @*    <img src="~/images/nonveg/Fish Tikka.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Fish Tikka     <br /> <b style="color: #D68D32;">….  Rs.395</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                        @*<img src="~/images/nonveg/Fish Fingers.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Fish Fingers      <br /> <b style="color: #D68D32;">….  Rs.320</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                       @* <img src="~/images/nonveg/Karwari Prawns.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Karwari Prawns  <br />
                                        <b style="color: #D68D32;">….  Rs.395</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                   @*     <img src="~/images/nonveg/Tandoori Seafood Platter.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Tandoori Seafood Platter       <br /> <b style="color: #D68D32;">….  Rs.1895</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/Chilli Szechuan Prawns.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Chilli / Szechuan Prawns    <br /> <b style="color: #D68D32;">….  Rs.410-</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                       @* <img src="~/images/nonveg/Bacon Wrapped Prawns.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Bacon Wrapped Prawns       <br /> <b style="color: #D68D32;">….  Rs.410</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                        @*<img src="~/images/nonveg/Chilli Fish.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Chilli Fish   <br />
                                        <b style="color: #D68D32;">….  Rs.320</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                    @*    <img src="~/images/nonveg/beafroast.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Roast Beef <br /> <b style="color: #D68D32;">….  Rs.340</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/Grilled Chicken in Peri Peri Sauce.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Grilled Chicken in Peri Peri Sauce     <br /> <b style="color: #D68D32;">….  Rs.370</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                    @*    <img src="~/images/nonveg/Grilled Bacon.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Grilled Bacon         <br /> <b style="color: #D68D32;">….  Rs.360</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/Grilled Pepper Chicken.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>
                                        Grilled Pepper Chicken     <br />
                                        <b style="color: #D68D32;">….  Rs.370</b>
                                    </p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                       @* <img src="~/images/nonveg/Grilled Beef Picatta.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p>Grilled Beef Picatta           <br /> <b style="color: #D68D32;">….  Rs.399</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" align="center" style="padding: 10px 10px;">
                <div class="col-md-12" style="box-shadow: 1px 1px 5px rgb(0, 0, 0); padding: 0px; border: 3px solid #fff;">

                    <center>
                      @*  <img src="~/images/nonveg/Pesto Grilled Prawn.png" alt="lacasa" class="img-responsive" style="width:100%;max-width:400px" />*@
                    </center>

                    <div class="category thumb">

                        <div class="orngimg">

                            <center>
                                <div class="orangbg">
                                    <br />
                                    <p> Pesto Grilled Prawn       <br /> <b style="color: #D68D32;">….  Rs.490</b></p>
                                </div>
                                <div class="orangbg">
                                    <br />
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="fa fa-shopping-cart darkgrey addCart">&nbsp;order now</a>
                                </div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
             
         </div>
    </div>
    <br /><br />
    <br /><br />

</div>

<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style=" z-index: 11111; " aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    @*<center><h4 class="modal-title" id="myModalLabel">Cash on delivery</h4></center>*@
                </div>
                <div class="modal-body">
                    <div class="col-sm-6 popupaddress">

                        <br />
                        <p class="popuplacasa">La Casa Restaurant</p>
                        <p>Amrutha Engineering College Road
                            <br />
                            Off Sarjapur Road
                            <br>
                            Kasavanahalli<br>
                            Near Lake Shore Homes<br />
                            Bangalore<br />
                            Karnataka:  560035<br>
                        </p>
                        <br>
                        <p class="popuplacasa">
                            080 4217 2469
                        <p class="popuplacasa">

                            +91 89513 51798
                        </p>
                        <p class="popuplacasa">
                            +91 70225 67469
                        </p>

                        <br />
                        <p class="popuplacasa">
                           www.lacasarestaurant.in
                        </p>
                        <br>



                    </div>




                </div>
                <div class="modal-footer">

                </div>
            </div>

        </div>
    </div>
</div>
