
@{
    ViewBag.Title = "Book_Menu";
    Layout = "~/Views/Shared/View.cshtml";
}
 


<link rel="shortcut icon" href="../favicon.ico">
<link rel="stylesheet" type="text/css" href="~/Content/book/default.css" />
<link rel="stylesheet" type="text/css" href="~/Content/book/bookblock.css" />
<link rel="stylesheet" type="text/css" href="~/Content/book/demo2.css" />
<script src="~/Scripts/book/modernizr.custom.js"></script>
<div class="mainbg menuitems">

    <div class="container innerpage">
        <br />
        <br />


        <div id="bb-bookblock" class="bb-bookblock">
            <div class="bb-item" id="vegitarian">
                <div class="bb-custom-side">
                    <img src="~/images/menu/menu veg starter.png" alt="lacasa" style="width:100%" class="img-responsive" />


                </div>
                <div class="bb-custom-side">
                    <h4>   VEGETARIAN</h4>
                    <p>
                        <b class="boldclass">French Fries</b> Served with mayonnaise   <b class="boldclass">…. 190.00</b></p>

                    <p><b class="boldclass">Scotch Eggs</b> Whole boiled eggs coated with mashed potato, vegetables and cheese and crumb fried   <b class="boldclass"> …. 195.00</b></p>
                    <p><b class ="boldclass">Steamed Momos</b> Steamed dumplings with vegetable stuffing, very popular in the Himalayan kingdoms of Nepal, Bhutan and across the mountains in Tibet  <b class="boldclass">…210.00</b>   </p>
                    <p><b class="boldclass">Cheese / Potato Croquettes</b> Crumb fried mashed cheese / potato and egg  croquettes <b class="boldclass"> …. 225.00</b></p>
                </div>
            </div>
            <div class="bb-item" id="nonveg">
                <div class="bb-custom-side">
                    <img src="~/images/menu/menu non veg statter.jpg" alt="lacasa" style="width:100%" class="img-responsive" />
                </div>
                <div class="bb-custom-side">
                    <h4> NON  VEGETARIAN</h4>
                    <p>
                        <b class="boldclass">French Fries</b> Served with mayonnaise   <b class="boldclass">…. 190.00</b>
                    </p>

                    <p><b class="boldclass">Scotch Eggs</b> Whole boiled eggs coated with mashed potato, vegetables and cheese and crumb fried   <b class="boldclass"> …. 195.00</b></p>
                    <p><b class="boldclass">Steamed Momos</b> Steamed dumplings with vegetable stuffing, very popular in the Himalayan kingdoms of Nepal, Bhutan and across the mountains in Tibet  <b class="boldclass">…210.00</b>   </p>
                    <p><b class="boldclass">Cheese / Potato Croquettes</b> Crumb fried mashed cheese / potato and egg  croquettes <b class="boldclass"> …. 225.00</b></p>
                </div>
            </div>


            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/menu salad.jpg" alt="lacasa" style="width:100%" class="img-responsive" />
                </div>
                <div class="bb-custom-side">
                    <p>Wafer donut caramels chocolate caramels sweet roll. Gummi bears powder candy chocolate cake gummi bears icing wafer cupcake. Brownie cotton candy pastry chocolate wypas.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/menu soup.jpg" alt="lacasa" style="width:100%" class="img-responsive" />
                </div>
                <div class="bb-custom-side">
                    <p>Cotton candy caramels tootsie roll soufflé powder lemon drops carrot cake danish. Cotton candy candy canes fruitcake muffin gingerbread. Jujubes soufflé gingerbread donut donut.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/pizza  ved.jpg" alt="lacasa" style="width:100%" class="img-responsive" />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/pizza2.jpg" alt="lacasa" style="width:100%" class="img-responsive" />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/menu italian.jpg" alt="lacasa" style="width:100%" class="img-responsive" />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/menu spanish.jpg" alt="lacasa" style="width:100%" class="img-responsive" />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/lebanees ved.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive" />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/american55.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive" />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/llocal.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive" />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/continentaaal new.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive" />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/british new.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/french new.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/hungariarn new.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/austrian new.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/south east asian.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/peruvian new.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/korean new.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/chinese new.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/bbq.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/main course veg.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/main course non veg.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/indian veg.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/indian non veg.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/rice and curry.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/roti cappathi.jpg" lacasa" style="width:100%" classstyle="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/biriyani.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/burger.jpg" alt="lacasa" style="width:100%" classstyle="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/child menu.jpg" alt="lacasa" style="width:100%" class="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>
            <div class="bb-item">
                <div class="bb-custom-side">
                    <img src="~/images/menu/juice new.jpg" alt="lacasa" style="width:100%" class="img-responsive " />
                </div>
                <div class="bb-custom-side">
                    <p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
                </div>
            </div>



            <center>
                <nav>
                    <a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left" style=" display: inline-block; ">Previous</a>
                    <a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right" style=" display: inline-block; ">Next</a>
                </nav>
            </center>

        </div>
         


            <center>
                <nav>
                    <a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left" style=" display: inline-block; ">Previous</a>
                    <a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right" style=" display: inline-block; ">Next</a>
                </nav>
            </center>

        </div>

        <div class="clearfix"></div>

    </div>
 
<!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/Scripts/book/jquerypp.custom.js"></script>
<script src="~/Scripts/book/jquery.bookblock.js"></script>
<script>
    var Page = (function () {

        var config = {
            $bookBlock: $('#bb-bookblock'),
            $navNext: $('#bb-nav-next'),
            $navPrev: $('#bb-nav-prev'),
            $navFirst: $('#bb-nav-first'),
            $navLast: $('#bb-nav-last')
        },
            init = function () {
                config.$bookBlock.bookblock({
                    speed: 1000,
                    shadowSides: 0.8,
                    shadowFlip: 0.4
                });
                initEvents();
            },
            initEvents = function () {

                var $slides = config.$bookBlock.children();

                // add navigation events
                config.$navNext.on('click touchstart', function () {
                    config.$bookBlock.bookblock('next');
                    return false;
                });

                config.$navPrev.on('click touchstart', function () {
                    config.$bookBlock.bookblock('prev');
                    return false;
                });

                config.$navFirst.on('click touchstart', function () {
                    config.$bookBlock.bookblock('first');
                    return false;
                });

                config.$navLast.on('click touchstart', function () {
                    config.$bookBlock.bookblock('last');
                    return false;
                });

                // add swipe events
                $slides.on({
                    'swipeleft': function (event) {
                        config.$bookBlock.bookblock('next');
                        return false;
                    },
                    'swiperight': function (event) {
                        config.$bookBlock.bookblock('prev');
                        return false;
                    }
                });

                // add keyboard events
                $(document).keydown(function (e) {
                    var keyCode = e.keyCode || e.which,
                        arrow = {
                            left: 37,
                            up: 38,
                            right: 39,
                            down: 40
                        };

                    switch (keyCode) {
                        case arrow.left:
                            config.$bookBlock.bookblock('prev');
                            break;
                        case arrow.right:
                            config.$bookBlock.bookblock('next');
                            break;
                    }
                });
            };

        return { init: init };

    })();
</script>
<script>
    Page.init();
</script>

