@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/View.cshtml";
}
<div class="container">
    <div class="col-sm-6">

        <div class="col-sm-2 col-xs-2">
            <img src="~/images/menu/american55.jpg" alt="Alternate Text" class="img-responsive img-circle" style="Z-INDEX: 111; POSITION: RELATIVE;" />
        </div>
        <div class="col-sm-8 col-xs-8">
            <h4 style="

    BACKGROUND: #e52626;
    BORDER-RADIUS: 24PX 46PX 48PX 16PX;
    PADDING: 9PX;
    MARGIN: 14PX 0PX 0PX -38PX;

    ">
                jhdfgbsdjhfb
            </h4>

        </div>
    </div>
    <div class="col-sm-6">

        <div class="col-sm-2 col-xs-2">
            <img src="~/images/menu/american55.jpg" alt="Alternate Text" class="img-responsive img-circle" style="Z-INDEX: 111; POSITION: RELATIVE;" />
        </div>
        <div class="col-sm-8 col-xs-8">
            <h4 style="

    BACKGROUND: #e52626;
    BORDER-RADIUS: 24PX 46PX 48PX 16PX;
    PADDING: 9PX;
    MARGIN: 14PX 0PX 0PX -38PX;

    ">
                jhdfgbsdjhfb
            </h4>

        </div>
    </div>
</div><div class="container">
    <div class="col-sm-6">

        <div class="col-sm-2 col-xs-2">
            <img src="~/images/menu/american55.jpg" alt="Alternate Text" class="img-responsive img-circle" style="Z-INDEX: 111; POSITION: RELATIVE;" />
        </div>
        <div class="col-sm-8 col-xs-8">
            <h4 style="

    BACKGROUND: #e52626;
    BORDER-RADIUS: 24PX 46PX 48PX 16PX;
    PADDING: 9PX;
    MARGIN: 14PX 0PX 0PX -38PX;

    ">
                jhdfgbsdjhfb
            </h4>

        </div>
    </div>
    <div class="col-sm-6">

        <div class="col-sm-2 col-xs-2">
            <img src="~/images/menu/american55.jpg" alt="Alternate Text" class="img-responsive img-circle" style="Z-INDEX: 111; POSITION: RELATIVE;" />
        </div>
        <div class="col-sm-8 col-xs-8">
            <h4 style="

    BACKGROUND: #e52626;
    BORDER-RADIUS: 24PX 46PX 48PX 16PX;
    PADDING: 9PX;
    MARGIN: 14PX 0PX 0PX -38PX;

    ">
                jhdfgbsdjhfb
            </h4>

        </div>
    </div>
</div>
<div class="container">
    <div class="col-sm-6">

        <div class="col-sm-2 col-xs-2">
            <img src="~/images/menu/american55.jpg" alt="Alternate Text" class="img-responsive img-circle" style="Z-INDEX: 111; POSITION: RELATIVE;" />
        </div>
        <div class="col-sm-8 col-xs-8">
            <h4 style="

    BACKGROUND: #e52626;
    BORDER-RADIUS: 24PX 46PX 48PX 16PX;
    PADDING: 9PX;
    MARGIN: 14PX 0PX 0PX -38PX;

    ">
                jhdfgbsdjhfb
            </h4>

        </div>
    </div>
    <div class="col-sm-6">

        <div class="col-sm-2 col-xs-2">
            <img src="~/images/menu/american55.jpg" alt="Alternate Text" class="img-responsive img-circle" style="Z-INDEX: 111; POSITION: RELATIVE;" />
        </div>
        <div class="col-sm-8 col-xs-8">
            <h4 style="

    BACKGROUND: #e52626;
    BORDER-RADIUS: 24PX 46PX 48PX 16PX;
    PADDING: 9PX;
    MARGIN: 14PX 0PX 0PX -38PX;

    ">
                jhdfgbsdjhfb
            </h4>

        </div>
    </div>
</div>
 