
@{
    ViewBag.Title = "Home_Delivery";
 }
<br /><br />
<div class="container home_delivery" style=" padding: 0px 0px 0px 0px;">

    <center> <h3> DIAL A DISH FOR HOME DELIVERY</h3></center>
    <br /><br />


    

    @*<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">*@

    <div class="col-sm-4" style=" PADDING: 0PX 0PX 0PX 0PX;">


        <div class="container-fluid">
            <div class="row-fluid">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default collapsed">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="~/Submenu/Vegetarian">
                                    <h4 class="panel-title">

                                        VEGETARIAN



                                    </h4>
                                </a>
                            
                            </div>
                            <div class="panel-heading">
                                <a href="~/Submenu/Non_Vegetarian"> 

                                    <h4 class="panel-title">

                                        NON  VEGETARIAN



                                    </h4>
                                </a>
</div>
                             
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="~/Submenu/Salads">

                                        <h4 class="panel-title">

                                            SALADS


                                        </h4>
                                    </a>
</div>
                                <div class="panel-heading">
                                    <a href="~/Submenu/Salads">
                                        <h4 class="panel-title">

                                            SOUPS

 

                                        </h4>
                                        </a>
</div>
                                
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="~/Submenu/Pizza_Veg">
                                            <h4 class="panel-title">

                                                PIZZA



                                            </h4>
                                        </a>
</div>
                                    <div class="panel-heading">
                                        <a href="~/Submenu/Soups">
                                            <h4 class="panel-title">

                                                SOUPS



                                            </h4>
                                        </a>
</div>
                                    <div class="panel-heading">
                                        <a href="~/Submenu/Italian">
                                            <h4 class="panel-title">

                                                ITALIAN



                                            </h4>
                                        </a>
</div>
                                    
                                    <div class="panel panel-default">
                                        <div class="panel-heading">

                                            <a href="~/Submenu/Spanish">
                                                <h4 class="panel-title">

                                                    SPANISH




                                                </h4>
                                            </a>
</div>
                                        <div id="collapseFive" class="panel-collapse collapse">

                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">

                                                <a href="~/Submenu/Lebanese">
                                                    <h4 class="panel-title">

                                                        LEBANESE



                                                    </h4>
                                                </a>
</div>
                                            <div id="collapseFive" class="panel-collapse collapse">

                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <a href="~/Submenu/American">
                                                        <h4 class="panel-title">

                                                            AMERICAN





                                                        </h4>
                                                    </a>
</div>
                                                <div id="collapseFive" class="panel-collapse collapse">

                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <a href="~/Submenu/Local">
                                                            <h4 class="panel-title">

                                                                LOCAL

                                                            </h4>
                                                        </a>
</div>
                                                    <div id="collapseFive" class="panel-collapse collapse">

                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <a href="~/Submenu/Continental">
                                                                <h4 class="panel-title">

                                                                    CONTINENTAL

                                                                </h4>
                                                            </a>
</div>
                                                        <div id="collapseFive" class="panel-collapse collapse">

                                                        </div>
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <a href="~/Submenu/British">
                                                                    <h4 class="panel-title">

                                                                        BRITISH

                                                                    </h4>
                                                                </a>
</div>
                                                            <div class="panel-heading">
                                                                <a href="~/Submenu/French">
                                                                    <h4 class="panel-title">

                                                                        FRENCH


                                                                    </h4>
                                                                </a>
</div>
                                                            <div class="panel-heading">
                                                                <a href="~/Submenu/Hungarian">
                                                                    <h4 class="panel-title">

                                                                        HUNGARIAN



                                                                    </h4>
                                                                </a>
</div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    <a href="~/Submenu/Austrian">
                                                                        <h4 class="panel-title">

                                                                            AUSTRIAN

                                                                        </h4>
                                                                    </a>
</div>
                                                                <div class="panel-heading">
                                                                    <a href="~/Submenu/South_East_Asian">
                                                                        <h4 class="panel-title">

                                                                            SOUTH EAST ASIAN



                                                                        </h4>
                                                                    </a>
</div>

                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
 
                         
                         



                    </div>


                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-4">

        <img src="~/images/home delivery pics.jpg" alt="Alternate Text" style="width:100%" class="img-responsive" />
        <br />
        <img src="~/images/order-homepage.jpg" alt="Alternate Text" style="width:100%" class="img-responsive" />
        <br />
        <img src="~/images/home delivery pics.jpg" alt="Alternate Text" style="width:100%" class="img-responsive" />

 
    </div>
    <div class="col-sm-4" style=" PADDING: 0PX 0PX 0PX 0PX;">


        <div class="container-fluid">
            <div class="row-fluid">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default collapsed">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="~/Submenu/Peruvian">
                                    <h4 class="panel-title">

                                        PERUVIAN





                                    </h4>
                                </a>
</div>
                            <div class="panel-heading">
                                <a href="~/Submenu/Korean">
                                    <h4 class="panel-title">

                                        KOREAN



                                    </h4>
                                </a>
</div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="~/Submenu/Bhutanese">
                                        <h4 class="panel-title">
                                            BHUTANESE






                                        </h4>
                                    </a>
</div>
                                <div class="panel-heading">
                                    <a href="~/Submenu/Chinese">
                                        <h4 class="panel-title">

                                            CHINESE





                                        </h4>
                                    </a>
</div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="~/Submenu/From_the_Grill">
                                            <h4 class="panel-title">

                                                FROM THE GRILL





                                            </h4>
                                        </a>
</div>
                                    <div class="panel-heading">
                                        <a href="~/Submenu/Maincourse_Vegetarian">
                                            <h4 class="panel-title">

                                                MAIN COURSE VEGETARIAN





                                            </h4>
                                        </a>
</div>
                                    <div class="panel-heading">
                                        <a href="~/Submenu/Maincourse_Nonvegetarian">
                                            <h4 class="panel-title">

                                                MAIN COURSE NON VEGETARIAN




                                            </h4>
                                        </a>
</div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a href="~/Submenu/Indian_Vegetarian">
                                                <h4 class="panel-title">
                                                    INDIAN VEGETARIAN








                                                </h4>
                                            </a>
</div>
                                        <div id="collapseFive" class="panel-collapse collapse">

                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <a href="~/Submenu/Indian_Nonvegetarian">
                                                    <h4 class="panel-title">
                                                        INDIAN NON VEGETARIAN







                                                    </h4>
                                                </a>
</div>
                                            <div id="collapseFive" class="panel-collapse collapse">

                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <a href="~/Submenu/Rice">
                                                        <h4 class="panel-title">
                                                            RICE AND CURRY








                                                        </h4>
                                                    </a>
</div>
                                                <div id="collapseFive" class="panel-collapse collapse">

                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <a href="~/Submenu/Rotis">
                                                            <h4 class="panel-title">
                                                                NAAN AND PARATHA






                                                            </h4>
                                                        </a>
</div>
                                                    <div id="collapseFive" class="panel-collapse collapse">

                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <a href="~/Submenu/Biriyani">
                                                                <h4 class="panel-title">
                                                                    BIRIYANI




                                                                </h4>
                                                            </a>
</div>
                                                        <div id="collapseFive" class="panel-collapse collapse">

                                                        </div>
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <a href="~/Submenu/NonVeg_Sandwiches">
                                                                    <h4 class="panel-title">
                                                                        SANDWICHES




                                                                    </h4>
                                                                </a>
</div>
                                                            <div class="panel-heading">
                                                                <a href="~/Submenu/NonVeg_Berger">
                                                                    <h4 class="panel-title">
                                                                        BURGERS

                                                                    </h4>
                                                                </a>
</div>
                                                            <div class="panel-heading">
                                                                <a href="~/Submenu/Foot_Longs">
                                                                    <h4 class="panel-title">
                                                                        FOOT LONGS


                                                                    </h4>
                                                                </a>
</div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    <a href="~/Submenu/Finger_Chips">
                                                                        <h4 class="panel-title">

                                                                            FINGER CHIPS

                                                                        </h4>
                                                                    </a>
</div>
                                                                <div class="panel-heading">
                                                                    <a href="~/Submenu/Desserts">
                                                                        <h4 class="panel-title">

                                                                            DESSERTS

                                                                        </h4>
                                                                    </a>
</div>

                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>






                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

   
     

     


 
<style>
   
    .panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
    color: #fff;
    /* background-color: #A43A0E; */
    border-color: #B14812;
    border-right: 3px solid #9A341D;
    border-left: 3px solid #99301B;
    background: linear-gradient(0deg, rgb(15, 17, 22) 24%, #A0380E -27%, rgb(15, 17, 22) 25px);
}
    .panel-default > .panel-heading {
        color: #FFFFFF;
        background-color: #3156a4;
        border-color: #dddddd;color: #fff;
    /* background-color: #A43A0E; */
    border-color: #B14812;
    border-right: 3px solid #9A341D;
    border-left: 3px solid #99301B;
    background: linear-gradient(0deg, rgb(166, 59, 15) 24%, #A0380E -27%, rgb(211, 105, 25) 25px);
    }
</style> 
     <!--container-->
@*<div class="mainbg">
    <div class=" container innerpage" style="padding:0px 0px 0px 0px">


    <br /><br />

        <center> <h4 style="color:white"> DIAL A DISH FOR HOME DELIVERY</h4></center>
        <center><h4 style="color:white">080-42172469</h4></center>
        <center>
            <h4 style="color:white">  M:7022567469</h4>
        </center>
        <br />

             <div class="col-sm-2"></div>



            <div class="col-sm-8">

                <img src="~/images/home delivery pics.jpg" alt="Alternate Text" style="width:100%" class="img-responsive" />
            </div>
            <br />
            <br />
            <br /><br />
            <div class="col-sm-2"></div>
        </div>
       
        <br />
        <br />
        <br />


        <br />
        <br />
        <br />
    </div>*@

 

