
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<div class="mainbg">

    <div class=" container innerpage" style="padding:0px 0px 0px 0px">
        <br />

        <div class="col-sm-12">

            <h4> Online Payments </h4> 
            <br /> 
            <p>This online payment system is provided by MERCHANT. The MERCHANT may update these terms from time to time and any changes will be effective immediately on being set out here. Please ensure you are aware of the current terms. The country of domicile for MERCHANT is India.</p>
            <br />
            <h4>Terms & Conditions </h4>
            <br />
            <p>Please read these terms carefully before using the online payment facility. Using the online payment facility on this website indicates that you accept these terms. If you do not accept these terms do not use this facility. </p>
            <p>All payments are subject to the following conditions:- </p>
            <p>The description of courses are specific to you (i.e. Programme Name, start and end date etc.) when you log in with your unique password. Normally payment is required in advance (i.e. before you commence your programme). </p>
            <p>All Fees quoted are in Indian Rupees. The MERCHANT reserves the right to change the fees at any time.</p>
            <ul>

                <li>	Your payment will normally reach the MERCHANT account to which you are making a payment within two working days.</li>
                <li>	We cannot accept liability for a payment not reaching the correct MERCHANT account due to you quoting an incorrect account number or incorrect personal details. Neither can we accept liability if payment is refused or declined by the credit/debit card supplier for any reason.</li>
                <li>	If the card supplier declines payment the MERCHANT is under no obligation to bring this fact to your attention. You should check with your bank/credit/debit card supplier that payment has been deducted from your account.</li>
                <li>	In no event will the MERCHANT be liable for any damages whatsoever arising out of the use, inability to use, or the results of use of this site, any websites linked to this site, or the materials or information contained at any or all such sites, whether based on warranty, contract, tort or any other legal theory and whether or not advised of the possibility of such damages.</li>

            </ul>
            <br />
            <h4>Refund Policy</h4>
        <br />
<ul><li>If the Customer leaves the MERCHANT before they complete their Programme, there shall be no entitlement to a refund of Tuition Fees.</li>
    <li>	Refunds, if applicable, at the discretion of the Management, will only be made to the debit/credit card used for the original transaction. For the avoidance of doubt nothing in this Policy shall require the MERCHANT to refund the Fees (or part thereof) unless such Fees (or part thereof) have previously been paid.</li>
</ul>    
        <h4>Cancellation Policy:</h4>
            <br />
        <p>No Payment Cancellation is permitted. Any disputes in regards to payments/ refund of transaction(s) due to technical reasons are subject to arbitration / resolution on a case to case basis.</p>   
            <br />
        <h4>Security</h4> 
            <br />
        <p>All payment details which are entered through this payment gateway are encrypted when the Customer, or third party making payment, enters them. Communications to and from the Service Provider's site are encrypted.</P>

<P>The MERCHANT shall not be liable for any failure by the Customer or third party making payment of Fees to properly protect data from being seen on their screen by other persons or otherwise obtained by such persons, during the online payment process or in respect of any omission to provide accurate information in the course of the online payment process.
</p>
            <br />
        <h4>Service Provider </h4>
            <br />
            <p>Online Payments of Fees can be made by Credit / Debit card or Netbanking. These payments are not collected by the MERCHANT directly but by the Service Provider.</P>
<p>Once payment is received by the Service Provider in cleared funds, the Service Provider will contact the MERCHANT to confirm the details of the successful payment made by the Customer, or third party making payment. On receipt of this confirmation the MERCHANT will confirm to the Customer that the payment has been received and accepted by the MERCHANT. In the event that the Customer does not receive confirmation within 14 days of making the payment it is the responsibility of the Customer to check with the MERCHANT that the payment has been accepted. The Customer shall remain responsible for the Tuition Fees until such time as the confirmation as referred to above is received from the MERCHANT in relation to each of these and any outstanding amounts owed to the MERCHANT.</p>
       <br /><h4>Privacy Policy</h4>
            <br />
            <p>This Privacy Policy applies to all of the products, services and websites offered by MERCHANT. Sometimes, we may post product specific privacy notices or Help Centre materials to explain our products in more detail. </p>
            <p>If you have any questions about this Privacy Policy, please feel free to contact us through our website or write to us at
Information we collect and how we use it for our MERCHANT.
</p>
            <br />
            <h4>Website Details:</h4>
            <p>Entire content of the website has been gathered to the best of our knowledge and belief, and the company endeavours to keep it up to date. In particular, we reserve the entire right to update and/or modify and/or remove this data anytime and without any prior notice. Please note that the MERCHANT holds no responsibility for incorrect or no longer correct statements, quotes or descriptions and thereby excludes liability for any losses resulting from such wrong information.</p>
            <p>Further, MERCHANT has every right to bring about legal action on customers who misuse/alter/reproduce the content/ information available on the website. </p>
            <br />
            <h4>Data Privacy Policy</h4>
            <br />
            <p>Our data privacy policy strictly conforms as per the regulations set down in accordance to the protection of data collected from people visiting our website. MERCHANT treats all personal data obtained via internet and our website carefully and confidentially so that no physical/mental harm is instilled up on the person, with regard to the collected data . Personal data that has possibly been known to us will be kept secret, privacy will be respected and information will be used exclusively for the purpose for which it was made known to us. Without seeking approval of the respective person, this data will neither be made accessible to third parties, nor transferred to them in any form or manner.</p>
            <br /><h4>Changes to our Privacy Policy</h4><br />
            <p>MERCHANT reserves the entire right to modify/amend/remove this privacy statement anytime and without any reason. Nothing contained herein creates or is intended to create a contract/agreement between MERCHANT and any user visiting the MERCHANT website or providing identifying information of any kind.</p>
            <br /><h4>DND Policy </h4><br />
            <p>If you wish to stop any further sms/email alerts/contacts from our side, all you need to do is to send an email:-test@test.com with your mobile numbers and you will be excluded from the alerts list. </p>
            <br /><h4>Contact Details:</h4><br />
            <p>Email: maillacasagrill@gmail.com
</p>
             </div>
         
    </div>
    <br />
    <br />
</div>
<style>   
     ul li {
         color: white;
    font-family: Calibri;
    }
</style>